pip~=23.2.1
argparse~=1.4.0
configparser~=7.0.0
HTMLParser~=0.0.2
wheel~=0.41.2
cryptography~=42.0.6
tornado~=6.4
keyring~=25.2.0
setuptools~=68.2.0
dl~=0.1.0
Cython~=3.0.10
docutils~=0.21.2
boto3~=1.34.98
json2html~=1.3.0
botocore~=1.34.98
coinbase~=2.1.0